@import "tailwindcss";

@theme {
  --font-inter: "Inter", "Inter Fallback";
  --font-sans: var(--font-inter), sans-serif;

  --color-background: var(--color-zinc-950);
  --color-content: var(--color-zinc-900);
  --color-content-alt: var(--color-zinc-800);
  --color-divider: var(--color-zinc-700);
  --color-primary: var(--color-white);
  --color-secondary: var(--color-zinc-300);
  --color-placeholder: var(--color-zinc-600);
  --color-accent: var(--color-amber-500);

  --spacing-8xl: 88rem;
}

h1 {
  @apply text-xl;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide default arrow in select dropdown */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

