@import "tailwindcss";

@theme {
  --font-inter: "Inter", "Inter Fallback";
  --font-noto-sans-mono: "Noto Sans Mono", "Noto Sans Mono Fallback";
  --font-sans: var(--font-inter), sans-serif;
  --font-mono: var(--font-noto-sans-mono), monospace;

  --color-background: var(--color-zinc-950);
  --color-content: var(--color-zinc-900);
  --color-content-alt: var(--color-zinc-800);
  --color-divider: var(--color-zinc-700);
  --color-primary: var(--color-white);
  --color-secondary: var(--color-zinc-300);
  --color-placeholder: var(--color-zinc-600);
  --color-info: var(--color-blue-300);
  --color-success: var(--color-green-500);
  --color-accent: var(--color-amber-500);
  --color-error: var(--color-rose-400);
  --color-warning: var(--color-yellow-200);

  --spacing-8xl: 88rem;
  --spacing-9xl: 96rem;
  --spacing-10xl: 104rem;
}

/* 明示的な背景色と文字色の設定 */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

h1 {
  @apply text-xl;
}

h3 {
  @apply text-xs text-secondary;
}


input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide default arrow in select dropdown */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
